<template>
  <div class="about">
    <Titulo texto="This is an about page"/>
  </div>
</template>

<script>
import Titulo from '@/components/Titulo';

export default {
  components: {
    Titulo
  }
}
</script>