<template>
  <div class="articulo">
    <Titulo texto="Ruta con parametros" />
    <h2>Parametro: {{$route.params.id}}</h2>
    <h3>{{articulo.id}} - {{articulo.title}}</h3>
    <p>{{articulo.body}}</p>
  </div>
</template>

<script>
import Titulo from '@/components/Titulo';

export default {
  components: {
    Titulo
  },
  data() {
    return {
      articulo: {}
    }
  },
  methods: {
    async consumirApi() {
      try {
        const data = await fetch(`https://jsonplaceholder.typicode.com/posts/${this.$route.params.id}`);
        const response = await data.json();
        this.articulo = response;
      } catch (e) {
        console.log(e);
    }
    }
  },
  created() {
    this.consumirApi();
  }
}
</script>

<style>

</style>
