<template>
  <div class="blog">
    <Titulo texto="Titulo de mi Blog" />
    <!-- <button @click="consumirApi">Consumir api</button> -->
    <div v-for="blog in blogs" :key="blog.id">
      <router-link :to="`/blog/${blog.id}`">{{blog.title}}</router-link>
    </div>
  </div>
</template>

<script>
import Titulo from '../components/Titulo';

export default {
  components: {
    Titulo
  },
  data() {
    return {
      blogs: []
    }
  },
  methods: {
    async consumirApi() {
      try {
        const data = await fetch('https://jsonplaceholder.typicode.com/posts');
        const response = await data.json();
        this.blogs = response;
      } catch (e) {
        console.log(e);
      }
    }
  },
  created() {
    this.consumirApi()
  }
}
</script>

<style>

</style>